<form fxLayout="row" fxFlex="0 0 100%" fxLayoutAlign="center start" fxLayoutGap="10px">
  <div fxLayout="column" fxLayoutGap="10px"> 
      <about-component fxFlex="1 1 100%"></about-component>
      <div fxLayout="row" fxLayoutGap="10px">
          <ability-score-component fxFlex="1 1 100%"></ability-score-component>
          <div fxLayout="column">
              <armor-component></armor-component>
              <weapon-component></weapon-component>            
          </div>
          <equipment-component fxFlex="1 1 100%"></equipment-component>
          <character-details-component fxFlex="1 1 100%"></character-details-component>
      </div>      
  </div>
</form>