* {
    font-family: "Lucida Console", Monaco, monospace;
}
input[type="text"], textarea {
    width: 140px;
}
textarea {
    resize: none;
}
mat-icon, button {
    cursor: pointer;
}
.add {
    color: blue;
}
.delete {
    color: red;
}
.done {
    color: green;
}
.edit {
    color: yellowgreen;
}